{
  "presets": [
    "env",
    "stage-2"
  ],
  "plugins": [
    "transform-react-jsx",
    [
      "transform-runtime",
      {
        "polyfill": true,
        "regenerator": true
      }
    ]
  ]
}